.month-header{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.title-month-header{ 
position: fixed;
align-self: center;
color: #f1c500;
font-weight:bold; 
font-size: large;
top: 2.5%;
text-shadow: -1px 1px 1px black,
-1px 1px 1px black,
-1px 1px 1px black;
font-style:italic; white-space: nowrap;

}

/* BOTÓN VER TODOS LOS ELIMINADOS */
.btn-ver-eliminados-todos{
position: fixed;
align-self: flex-start;
top: 98px !important;
left: 10px;
gap:0px;
align-items:center;
justify-content: center;
width: 35% !important;
padding: 7px 20px;
font-size: 12px;


}
.btn-ver-eliminados-todos:hover { 
background: linear-gradient(180deg,
rgba(17, 189, 60, 0.95),
rgba(77, 255, 202, 0.95));  
outline:1px solid rgba(168, 238, 217, 0.623); 
box-shadow:0 0 20px rgba(114, 252, 155, 0.842); 

}

/* ===============================
   SELECTOR DE OTRO JUEGO
   =============================== */
.otro-juego-picker{
position: fixed;
flex-direction: column;
align-self: flex-end;
top: 44px;
right: 10px;
gap:0px;
align-items:center;
width: 30%;

}

select#selectOtroDia{
width: 100%;
padding: 5px 25px;
border-radius: 10px;

cursor: pointer;
background: linear-gradient(180deg,
rgba(239, 250, 249, 0.829),
rgba(153, 250, 185, 0.95));
border: 1px solid rgb(0, 167, 111);
box-shadow: 0 0 1px rgba(0, 218, 109, 0.842);
font-weight: bold !important;
font-size: 12px;
color: #000000 !important;
text-shadow: -1px 1px 1px rgba(255,255,255,.95);
 
}
select#selectOtroDia option{
background-color: #017754;
color: rgb(255, 255, 255);
font-size: 11px;
text-align: left;
}


.otro-juego-picker h6 {
display: flex;
font-weight:bold; 
font-size: 14px;
margin-left: 0px;
margin-bottom: 2%;
right: 0%;
color: #f3db02;
text-shadow: -1px 1px 1px black, -1px 1px 1px black, -1px 1px 1px black;
 
}



/* ===============================
   BUSCADOR
   =============================== */

.buscador-jugadores {
  position:relative;
  display: flex;
  justify-self: flex-start;
  width: 98%;
  gap: 8px;
  padding: 6px 12px;
  align-items: center;
  background: linear-gradient(135deg, #00694f, #028f6b);
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  z-index: 90;
  margin: 3% 1% 1% 1%;

}

.buscador-jugadores input::placeholder {
  color: rgb(255, 255, 255); /* O un código hexadecimal como #FF0000 */
  font-size: large;
  font-weight: lighter;
  text-shadow:
-1px 1px 1px #000000;

  
}

/* icono */
.buscador-jugadores .icono-buscar {
  font-size: 18px;
  color: #ffffff;
  opacity: 0.9;
}

/* input */
.buscador-jugadores input {
  border: 1px dotted rgba(218, 204, 145, 0.829) ;
  border-radius: 18px;
  outline: none;
  background: transparent;
  color: #ffffff;
  font-size: 14px;
 padding: 6px 12px;
  width: 83%;


}
.buscador-jugadores input::placeholder{
  font-size: 15px;
  color: #fffbc0;
}
/* botón limpiar */
.buscador-jugadores button {
  position: absolute;
  right: 2%;
  background: rgba(255, 106, 131, 0.712);
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  transition: background 0.80s ease, transform 0.90s ease;
}
  .buscador-jugadores button:hover {
  background: rgba(255,255,255,0.35);
  transform: scale(1.1);
}

.buscador-jugadores button:active {
  transform: scale(0.95);
}

/* enfoque */
.buscador-jugadores:focus-within {
  box-shadow: 0 0 0 2px rgba(0, 61, 43, 0.781),
              0 6px 12px rgba(20, 87, 61, 0.788);
}    
input[type="text"]:focus {
color: #ffffff;
border-radius: 18px;
font-weight: lighter;
font-size: 16px;
 padding: 6px 12px;
text-shadow: -1px 1px 1px black,
-1px 1px 1px black,
-1px 1px 1px black;
font-style:italic;
background-color: #00a77d; 
width: 82%;
border-color: #000000; 
outline: none;
}
input[type="text"]:focus::placeholder {
color: #ffea8d;
font-size: small;
}
/* La tabla usa TODO el ancho disponible */
 .planilla {
  position: relative;
  display: inline-table;
  max-height: calc(100vh - 240px);
  border-radius: 18px;
  overflow: auto;
  overflow: visible !important;
  min-width: 96%; 
  width: 96%;
  top: 1%;
  border-collapse: collapse; 
  min-height: fit-content;
}
