body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;

 background-image: url("../img/imagen_body6.webp") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100dvh;
  font-family: "Lucida Sans Unicode" sans-serif !important;
}

.topbar {
  position: relative;
  background:#245a4b;
  color: #fff;
  padding:0px 18px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:0px;
  border-bottom:1px solid #55775f;
  min-height: 20dvh;
 

}
.titles{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-left: 10%;

}

.titles h1 { 
 font-size:35px; 
 text-shadow: -1px 1px 1px black,-1px 1px 1px black;
 margin-bottom: 0%;
}

.titles h3 { 
  color: rgb(255, 242, 63);
  font-size:30px; 
  opacity:0.85;
  text-shadow: -1px 1px 1px black,-1px 1px 1px black; 
  margin-top: 0%;
}
.brand .logo { width:80px; height:80px; border-radius:6px; object-fit:cover; }

.actions-right { display:flex; gap:8px; align-items:center; }
.btn-admin, .btn-pdf {
  background:#54b68d; color:#fff; padding:5px 12px;
  border-radius:6px; text-decoration:none; border:none; cursor:pointer;text-shadow: -1px 1px 1px black; 
}
.btn-pdf { background:#db053a; padding:8px 12px;}

.selectors, #selectors { text-align:left; margin:14px 10px; }
#selectors select { 
  padding:4px 8px; 
  margin:0 10px;
    width: 15% !important; 
    border-color: #388b4d;
}
.selectors label{
  margin-left: 1%;
  font-weight: bold;
  font-size: large;
  color: #ffffff;
  text-shadow: -1px 1px 1px rgb(0, 0, 0),-1px 1px 1px rgb(0, 0, 0);

}

/* tabla */
.planilla {
  width: 98%;
 margin: auto;
 margin-top: 2%;
margin-bottom: 1%;
  border-collapse: collapse;
  background: #f1f1f1;
  box-shadow: 0 1px 0 rgba(0,0,0,0.04);
}

.planilla th, .planilla td {
  padding: 8px 10px;
  border: 1px solid rgba(0,0,0,0.06);
  text-align: center;
  font-size: 14px;
}

.planilla thead th { background: #2f6b5a; color: #fff; font-weight:700; }
.planilla thead tr:nth-child(2) th { background:#1fa67a; opacity:0.95; }

.planilla tbody tr:nth-child(even) { background: #f7fbfa; }
.player-name { text-align:left; padding-left: 14px; font-style: italic; }

/* otros y observaciones */
.otros-tipos { text-align:left; padding-left:10px; white-space:pre-line; }
.otros-valor { font-weight:700; color:#0b6b3a; }

/* totales card */
.totales-card {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(2,1fr) ;
 flex-direction: row;
  width:98%;
  justify-self: center;
 margin: 0% 0%;
  padding:20px;
  background: #d2e6df;
  border-radius:8px;
  border:1px solid #e0e6e6;
}

.totales-card h2{
 grid-column: 1/span 3;
  grid-row: 1/span 1; 
  margin: auto;
  padding: 1%;
  margin-bottom: 1%;
 color: #dbbb05;
  font-weight: bold;
font-size: 30px;
  text-shadow: -1px 1px 1px rgb(0, 0, 0);
}
.totales-card :nth-child(2){
 grid-column: 1/span 1;
  grid-row: 2/span 1; 
  margin: auto;
}
.totales-card :nth-child(3){
 grid-column: 2/span 1;
  grid-row: 2/span 1; 
  margin: auto;
}
.totales-card :nth-child(4){
 grid-column: 3/span 1;
  grid-row: 2/span 1; 
  margin: auto;
}
.totales-card label{
color: rgb(23, 189, 87);
font-weight: bold;
font-size: larger;
  text-shadow: -1px 1px 1px black;
}
.totales-card p{
font-weight: bold;
font-size: 18px;
text-align: center;
padding:5%;
}

/* totales card */
.gastos-observaciones {
display: flex;
flex-direction: column;
  width:98%;
  justify-self: center;
  margin: 1% 0% 50% 0%;
  padding:15px 20px 35px 20px;
  background: #90d1a0;
  border-radius:8px;
  border:1px solid #e0e6e6;
  height: max-content;
}
.gastos-observaciones h2{
 grid-column: 1/span 3;
  grid-row: 1/span 1; 
  padding: 1%;
  margin-bottom: 1%;
  color: #ffffff;
  font-weight: bold;
font-size: 23px;
  text-shadow: -1px 1px 1px rgb(0, 0, 0), -1px 1px 1px rgb(0, 0, 0);
  z-index: 0;
}
/* observaciones */
.observaciones-box {
  grid-column:1/span 3;
  grid-row: 2/span 1; 
  width:100%;
  padding: 20px 20px;
  background: #ececec;
  border-radius:8px;
  border: 1px solid #e0e6e6;
  white-space: pre-line;
  color: #000000;
  font-weight: lighter;
  text-shadow: -1px 1px 1px rgb(255, 255, 255);

}
