/* =====================================================
VARIABLES
===================================================== */
:root {
--aside-width: 260px;
--aside-narrow: 200px;
--topbar-bg: #5d616b;
--primary-blue: #1c6e9e;
--danger-red: #fa0505;
--pdf-red: #fa0526;
--success-green: #00f94fc5;
--border: #7c7c7cd2;
--light-gray: #f5f5f5;
}

/* =====================================================
BASE
===================================================== */
* { box-sizing: border-box; }
body{
font-family: "Lucida Sans Unicode", sans-serif;
padding: 0;
margin: 0;
overflow-x: hidden;
}

/* =====================================================
HEADER (MÓVIL: MOBILE-FIRST)
===================================================== */
.topbar {
display: grid;
grid-template-columns: 1fr;
grid-template-areas:
"year"
"month"
"logo"
"title"
"btn";
gap: 15px;
padding: 22px 15px 50px 15px;
margin: 1px 1px;
background: var(--topbar-bg);
border-bottom: 1px solid var(--border);
text-align: center;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
align-items: center;
}

.brand { 
grid-area: 
logo; 
display:flex;
justify-content:center;
justify-self: center;
align-items:center; 
gap:5px; 
margin-top:8%; 
}
.title {
grid-area: title; 
}
.toggle-left-panel { 
grid-area: btn; 
justify-self:center;

}

.logo { 
width: 40%; 
border-radius:
8px; object-fit: cover; 
}
.title h1 {
margin-top: 1%;
margin-bottom: -2%; 
font-size:26px; 
font-weight:lighter; 
color:white; 
text-shadow: -1px 1px 2px rgba(0,0,0,0.8), 
-1px 1px 1px rgba(0,0,0,0.6); 
}
.subtitle { 
font-size:20px;
color:#fdff76;
text-shadow: -1px 1px 2px rgba(0,0,0,0.8), 
-1px 1px 1px rgba(0,0,0,0.6); 
}

.toggle-left-panel {
display: flex;
position: relative;
top: 0;
left: -1%;
width: 100%;
justify-content: center;
padding: 8px 20px;
border: 1px solid black;
background-color: #fffffff6;
color: rgba(0,0,0,0.888);
text-shadow: -1px 1px 1px #ffffff;
font-weight: lighter;
border-radius: 10px;
outline: 0;
transition: background-color 0.5s, border-radius 0.5s, outline 0.5s;
font-size: 16px;
}
.toggle-left-panel:hover {
background-color: rgba(241, 241, 241, 0.966);
outline:1px solid rgba(145, 145, 145, 0.87); 
color: rgb(255,255,255);
text-shadow: -1px 1px 1px #000000, -1px 1px 1px #000000;
box-shadow: 0 0 20px rgba(230,241,255,1);
border-radius: 25px;
padding: 8px 19px;
border: none;
cursor: pointer;
}

.logout-button {
display: flex;
position: relative;
justify-self: flex-start;
width: 38%;
margin-bottom:10%;
justify-content: center;
padding: 8px 8px;
border: 1px solid rgb(184, 184, 184);
background-color: #757575f6;
color: rgba(255, 255, 255, 0.888);
text-shadow: -1px 1px 1px #000000;
font-weight: lighter;
border-radius: 10px;
outline: 0;
transition: background-color 0.5s, border-radius 0.5s, outline 0.5s;
font-size: 16px;
}
.logout-button:hover {
background-color: rgba(241, 241, 241, 0.966);
outline:1px solid rgba(145, 145, 145, 0.87); 
color: rgb(255,255,255);
text-shadow: -1px 1px 1px #000000, -1px 1px 1px #000000;
box-shadow: 0 0 20px rgba(230,241,255,1);
border-radius: 25px;
padding: 7px 7px;
border: none;
cursor: pointer;
}

.date-selectors { 
grid-area: month; 
display:inline-flex; 
justify-self:center;
align-items: center;
margin-top:-6%; 
gap:10px;  
}
.year {
grid-area: year; 

}
.month { 
grid-area: month;
}
.date-selectors label, .date-selectors label { 
color:white; 
font-weight:lighter; 
text-shadow: -1px 1px 1px rgba(0,0,0,0.7), -1px 1px 1px rgba(0,0,0,0.7);
 
}
select {
padding:8px 16px; 
border:1px solid #aaa; 
border-radius:8px; 
}

/* =====================================================
LAYOUT PRINCIPAL (mobile-first)
===================================================== */
.container {
position: relative;
display: grid;
grid-template-columns: 1fr;
gap: 15px;
padding: 15px;
}

/* paneles */

.left-panel, .middle-panel, .right-panel {
background: #f0f0f0;
border-radius: 8px;
border: 1px solid var(--border);
padding: 15px;
width: 98%;
justify-self: center;
}
.left-panel {
margin-top: -1% !important;
margin-bottom: 0% !important;
}

  .middle-panel:not(.expanded) {
      display: none !important;
      height: 0 !important;
      max-height: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
  }


.middle-panel {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none; /* desactiva interacción mientras está oculto */
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.middle-panel.expanded {

  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* habilita interacción */
  max-height: calc(100vh - 140px); /* dejar espacio para header y botón */
  margin-top: -134%;

}


/* panel izquierdo colapsado */
.container.panel-collapsed .left-panel {
width: 0;
opacity: 0;
pointer-events: none;
transition: all 1s ease;

}






/* =====================================================
BOTONES / FORMULARIOS
===================================================== */
.add-player-box {
margin-top:10px;

}
.add-player-title, .otros-aportes-card h4, .gastos-card h4, .notes-card h4 {
margin-top:10%; 
font-size:18px;
margin-bottom:15%; 
font-weight:lighter;
color:rgb(0, 0, 0);
font-style:italic; 
text-shadow: -1px 1px 1px #ffffff,
-1px 1px 1px #ffffff,
-1px 1px 1px #ffffff;
justify-self: center;
}

.save-player-btn { 
display:flex; 
margin:auto; 
width:90%; 
margin-top:10%; 
margin-bottom: 7%;
justify-content:center; 
padding:8px 40px; 
background-color:#2ebe76e7; 
color:rgba(255, 255, 255, 0.888);
text-shadow: -1px 1px 1px #000;
cursor: pointer;
border: 1px solid rgb(151, 151, 151); 
outline:0; 
font-size:16px; 
border-radius:10px; 
transition: .3s;
}
.save-player-btn:hover { 
background-color: rgba(80, 230, 125, 0.979); 
outline:1px solid rgba(0, 199, 73, 0.87); 
color:#ffffff; border-radius:25px; 
text-shadow: -1px 1px 1px #000,
-1px 1px 1px #000;
box-shadow:0 0 20px rgba(114, 252, 155, 0.842); 
border: none;
padding:7px 39px; 
}

.gastos-card{
margin-top: 20% !important;
background:#c4d7d8; 
border:1px solid var(--border); 
border-radius:8px; 
padding:12px; 
margin-bottom:10px ; 
margin: auto;
min-width: 100%;
}
.gastos-card input { 
width:100%;
padding:9px;
border-radius:8px;
border:1px solid #bbb;
margin-bottom:5%;
margin-top: 2%;
}
.save-gasto{ 
background:var(--primary-blue); 
display:flex; 
width:80%; 
margin:auto; 
margin-top:8%; 
margin-bottom: 4%;
justify-content:center; 
padding:8px 20px; 
color:rgba(255,255,255,0.888); 
text-shadow: -1px 1px 1px #000;
border: 1px solid black;
outline:-5; 
border-radius:10px; 
font-size:16px; 
transition: .3s;
}
.save-gasto:hover { 
background-color: rgba(11, 122, 167, 0.842); 
outline:1px solid rgba(0, 119, 255, 0.87); 
color:#ffffff; 
text-shadow: -1px 1px 1px #000000;
border-radius:25px; 
box-shadow:0 0 20px rgba(160, 255, 250, 0.938); 
border: none;
padding:7px 29px; 
cursor: pointer;
}

/* right panel cards */
.right-panel { 

border:1px solid var(--border);
border-radius:8px; 
width:99%; 
padding:10px;
background:#ebebeb; 
top:100%;
margin-bottom: 2%;
}

 

.totals-card{
background:#cfecdd; 
border:1px solid var(--border); 
border-radius:8px;
padding:12px;
margin-bottom:15px;
font-weight:lighter; }
.totals-card h3{ 
color: #ffffff;
font-weight:lighter; 
text-shadow: -1px 1px 1px black,
-1px 1px 1px black,
-1px 1px 1px black;
font-style:italic;
justify-self: center;
}
.otros-aportes-card{
background:#c4d7d8; 
border:1px solid var(--border); 
border-radius:8px; 
padding:12px; 
margin-bottom:10px ; 
margin: auto;
min-width: 100%;
}

.add-player-box  label, .otros-aportes-card label, .gastos-card label{
font-weight:lighter; 
font-style:italic;
color: #ffffff;
text-shadow: -1px 1px 1px black,-1px 1px 1px black;
}
.add-player-box input,.otros-aportes-card input, .otros-aportes-card,.otros-aportes-card select { 
width:100%;
padding:9px;
border-radius:8px;
border:1px solid #bbb;
margin-bottom:5%;
margin-top: 2%;
}

.aporte-wrapper {
    position: relative;
}


/* Estrella animada dentro del input */
.saldo-flag {
    position: absolute;
    top: 12px;
    left: 6%;
    transform: translateX(-50%);
    font-size: 15px;
    pointer-events: none;
    font-weight: bold;
    color: #ecc901;
    opacity: 0;
    transition: 
        opacity 0.35s ease,
        transform 0.35s cubic-bezier(0.25, 1.3, 0.5, 1);
}

/* Cuando la estrella debe mostrarse */
.saldo-flag.show {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

/* Espacio dentro del input para que no tape el número */
.aporte-wrapper input {
    padding-left: 15px !important;
}
/* Bolitas Deuda*/
/* * Contenedor de cada celda de aporte */ *
.celda-aporte {
    position: relative;
    padding: 0;
}

/* Ajuste visual del input */
.celda-aporte input {
    width: 65px;
    text-align: center;
    padding-right: 14px; /* espacio para iconos */
}

.chk-deuda-global.con-deuda {
    color: red;
    font-weight: bold;
}

.chk-deuda-global input:checked {
    accent-color: red;
    transform: scale(1.2);
}


.otro-aporte{ 
background:var(--primary-blue); 
display:flex; 
width:80%; 
margin:auto; 
margin-top:8%; 
margin-bottom: 4%;
justify-content:center; 
padding:8px 20px; 
color:rgba(255,255,255,0.888); 
text-shadow: -1px 1px 1px #000;
border: 1px solid black;
outline:-5; 
border-radius:10px; 
font-size:16px; 
transition: .3s;
}
.otro-aporte:hover { 
background-color: rgba(11, 122, 167, 0.842); 
outline:1px solid rgba(0, 119, 255, 0.87); 
color:#ffffff; 
text-shadow: -1px 1px 1px #000000;
border-radius:25px; 
box-shadow:0 0 20px rgba(160, 255, 250, 0.938); 
border: none;
padding:7px 29px; 
cursor: pointer;
}

.notes-card{ 
background:#c4d7d8; 
border:1px solid var(--border); 
border-radius:8px; 
padding:12px; 
margin-bottom:15px; 
}

.export-pdf-butt{ 
background:var(--pdf-red); 
display:flex; 
width:80%; 
margin:auto; 
margin-top:8%; 
margin-bottom: 4%;
justify-content:center; 
padding:8px 20px; 
color:rgba(255,255,255,0.888); 
text-shadow: -1px 1px 1px #000;
border: 1px solid black;
outline:-5; 
border-radius:10px; 
font-size:16px; 
transition: .3s;
}
.export-pdf-butt:hover{
background-color: rgba(255, 107, 107, 0.966); 
outline:1px solid rgba(255, 0, 0, 0.87); 
color:#ffffff; 
text-shadow: -1px 1px 1px #000000;
border-radius:25px; 
box-shadow:0 0 20px rgba(238, 238, 238, 0.938); 
border: none;
padding:7px 29px;
cursor: pointer;

}

/* fila seleccionada tabla */
tr.selected-row { background: #eafffa !important;
box-shadow: inset 0 0 8px rgba(28,75,158,0.35); 
border-left:4px solid var(--primary-blue);
transition:0.2s; }

/* WRAPPERS PARA TABLA */
.table-wrap { width: 100%; display: block;
overflow-x: auto;
-webkit-overflow-scrolling: touch; 
max-width: 100%; 
}
.table-wrap table { min-width: 700px; 
width: auto;
border-collapse: collapse; 
}
.middle-panel { overflow-x: hidden;
transition: all 1s; 
}

/* CLASE NUEVA: tabla expandida al presionar boton */
.middle-panel.expanded {
display: block !important;
position: absolute;
top: 23%; /* debajo del header */
left: 0;
width: 100vw;
max-width: 100%;
z-index: 999;
background: #f1f1f1f8;
padding: 15px;
border-radius: 0;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);

max-height: 100%; /* dejar espacio para header y botón */

}
.month-header{ 
color: #f1c500;
font-weight:bold; 
font-size: large;
text-shadow: -1px 1px 1px black,
-1px 1px 1px black,
-1px 1px 1px black;
font-style:italic;
justify-self: self-start;
margin-left: 4%;
padding: 25px;

}

thead tr:first-child{
background-color: #3a6352;
color: #ffffff;
font-weight:lighter; 
text-shadow: -1px 1px 1px rgb(0, 0, 0),
-1px 1px 1px rgb(0, 0, 0),
-1px 1px 1px rgb(0, 0, 0);
font-style:italic;
justify-self: center;

}
thead tr:nth-child(3),tfoot{
background-color: #13b370;
padding: 10%;
color: #ffffff;
font-weight:lighter; 
text-shadow: -1px 1px 1px rgb(0, 0, 0),
-1px 1px 1px rgb(0, 0, 0),
-1px 1px 1px rgb(0, 0, 0);
font-style:italic;
justify-self: center;

}
thead tr:first-child th{
padding: 10px;
font-size: large;

}
td{
border:1px solid #eee;
padding:4px;
text-align:center;
}
.planilla{
margin-top: 2%;
width:100%;
border-collapse:collapse;
background-color: #1c9e61;
margin: auto;
border: 1px solid #000 !important;   /* borde externo fuerte */
border-radius: 10px !important;
overflow: hidden; /* redondea las esquinas reales */
}
/* Separar los titulos de los theads de los extremos de los bordes de la tabla */
.planilla thead tr:first-child th:first-child {
    padding-left: 25px;
}
.planilla thead tr:first-child th:last-child {
    padding-right: 0px;
}

tbody tr{
padding: 10%;
color: #000000;
font-weight:lighter; 
text-shadow: -1px 1px 1px rgb(255, 255, 255),
-1px 1px 1px rgb(255, 255, 255),
-1px 1px 1px rgb(248, 248, 248);
font-style:italic;
justify-self: center;
}
tbody tr td:first-child{
text-align: left;
padding: 1% 1%;

}
tbody tr td:last-child, tbody tr td:last-child{
text-align: center;
padding: 1% 1%;
font-weight:bolder; 
background-color: #99ccbb;

}
tbody tr td:nth-child(12){
width: 160px;
}

tbody tr td:nth-child(13){
text-align: center;
padding: 1% 1%;
font-weight:bold;
background-color: #c4ecdf;
width: 120px;


}
.btn-del-player {
    background: #ff3b3b;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-del-player:hover {
    background: #d80f0f;
}

/* ============================
ZEBRA PARA TBODY (mobile-first)
============================ */
.planilla tbody tr:nth-child(odd) {
background-color: #ececec !important;  /* beige suave */
}
.planilla tbody tr:nth-child(odd):hover {
background-color: #c5e6db !important;  /* beige suave */
}


.planilla tbody tr:nth-child(even) {
background-color: #d3dad8 !important;  /* beige más oscuro */
}
.planilla tbody tr:nth-child(even):hover {
background-color: #b9b9b9 !important;  /* beige más oscuro */
}


/* evitar que afecte filas seleccionadas */
.planilla tbody tr.selected-row {
background-color: #c0e0ff !important;
}


.cell-aporte{
width:60px;
padding:5px;
font-size:13px;
border-radius: 7px;
border: 1px solid rgb(199, 199, 199);
text-align: center;

}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;      /* estándar */
    -moz-appearance: textfield; /* Firefox */
}

/* Móvil scroll horizontal */
@media (max-width: 991px) {
.table-wrap {
overflow-x: auto;
}
.middle-panel {
overflow-x: hidden;
}

.right-panel, .left-panel, .notes-card {
max-width: 100vw; overflow-x: hidden;
}
}


/* Hover */
#monthlyTableContainer table tr:hover { background-color: #f0f8ff; cursor: pointer; }
#monthlyTableContainer table tr.selected-row { background-color: #c0e0ff; }
#monthlyTableContainer table tr { transition: background-color 0.2s ease; }


.gastos-block h3{
background-color: #e2e2e2;
width: 100%;
padding: 2%;
color: #f1c500;
font-weight:bold; 
font-size: large;
text-shadow: -1px 1px 1px black,
-1px 1px 1px black,
-1px 1px 1px black;
font-style:italic;
justify-self: center;
text-align: center;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}
textarea{
width: 100%;
margin-top: -5%;
background-color: #ebeff0;
color: rgb(0, 0, 0);
font-weight:lighter !important; 
font-size: large;
text-shadow: -1px 1px 1px rgb(241, 241, 241),
-1px 1px 1px rgb(238, 238, 238),
-1px 1px 1px rgb(235, 235, 235);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}

.guardar-observaciones { 
display:flex; 
width:65%; 
margin-top:3%; 
margin-bottom: 3%;
margin-right: 3%;
justify-content: center;
justify-self: flex-end;
padding:8px 15px; 
background-color:#2ebe76e7; 
color:rgba(255, 255, 255, 0.888);
text-shadow: -1px 1px 1px #000;
border: 1px solid rgb(151, 151, 151); 
outline:0; 
font-size:16px; 
border-radius:10px; 
transition: .3s;
}
.guardar-observaciones:hover { 
background-color: rgba(80, 230, 125, 0.979); 
outline:1px solid rgba(0, 199, 73, 0.87); 
color:#ffffff; border-radius:25px; 
text-shadow: -1px 1px 1px #000,
-1px 1px 1px #000;
box-shadow:0 0 20px rgba(114, 252, 155, 0.842); 
border: none;
padding:7px 39px; 
}



/* Desktop layout */
@media (min-width: 992px) {
.topbar {
grid-template-areas: "brand btn title selects"; 
grid-template-columns: auto auto 1fr auto;
align-items: center; 
gap: 20px; 
padding: 20px 30px;
max-height: fit-content;
  

}
.brand { 
grid-area: brand; 
justify-content:flex-start; 
}
 .toggle-left-panel {
    position: relative;  /* dejar que respete grid */
    justify-self: center;
    margin: 0;
    bottom: auto;
    left: auto;
    width: auto;
    z-index: 10;  /* para asegurarnos que esté arriba */
  }

.logout-button {
  
display: flex;
justify-self: flex-end;
top:50%;
width: 100%;
right: 10%;
padding: 3px 5px;
z-index: 10;  /* para asegurarnos que esté arriba */

}
.logout-button:hover {
padding: 4px 6px;
color: #000;
text-shadow: -1px 1px 1px #ffffff,  -1px 1px 1px #ffffff;
}
.title { 
grid-area: title; 
display:flex; 
flex-direction: column;
justify-self: center;
width: 100%;
margin-right: 2%;

}
.date-selectors { 
grid-area: selects; 
position: absolute;
display:flex;
justify-self:flex-end;
align-items:center;
margin-top: -4%;

}

.date-selectors label, .date-selectors label { 
color:white; 
font-weight:lighter; 
text-shadow: -1px 1px 1px rgba(0,0,0,0.7); 
}
select{
    padding: 5px;
}
.logo { 
    width: 80px; 
}
.title h1 { 
font-size: 40px;
}
.subtitle { 
margin-top: 1%;
font-size: 20px; 
}
.container { 
grid-template-columns: 300px 1fr var(--aside-width); 
padding: 15px;
}

  .middle-panel:not(.expanded) {
     
      height: 100dvh;
      max-height: max-content;
    
  }
/* CLASE NUEVA: tabla expandida al presionar boton */

.middle-panel.expanded {
  margin-top: -27%;
}
.month-header{ 

font-size: 20px;
}
.container.panel-collapsed { 
grid-template-columns: 1fr var(--aside-width) !important;
padding-left: 0 !important; 
padding-right: 0 !important; 
gap: 10px; 
}

/* zebra desktop */
.planilla tbody tr:nth-child(odd) {
background-color: #f3efdb;
}

.planilla tbody tr:nth-child(even) {
background-color: #e5dfc3;
}

/* fila seleccionada mantiene estilo */
.planilla tbody tr.selected-row {
background-color: #c0e0ff !important;
}
.left-panel{
    width: 105%;
    margin-top: -4% !important;

}
.right-panel {
justify-self: end;
width: 72dvw; 
margin-top:-1.3% !important;
}

.otros-aportes-card h4, .notes-card h4 {
margin-top:5%; 
font-size:20px;
margin-bottom:8%; 
}

.save-player-btn { 

width:80%; 

}


.totals-card{

padding:19px;
margin-bottom:-9px;
}

.add-player-box  label, .otros-aportes-card label{
text-shadow: -1px 1px 1px black,
-1px 1px 1px black,
-1px 1px 1px black;
padding: 13%;
}
.otros-aportes-card input,.otros-aportes-card select { 
width:75%;
display: flex;
justify-self: center;
margin-bottom:4%;
margin-top: 1%;

}

.otro-aporte{ 
width:30%;
}


.notes-card{ 
background:#c4d7d8; 
border:1px solid var(--border); 
border-radius:8px; 
padding:2px; 
margin-top: -4%;
}

.export-pdf-butt{ 
width:30%; 
}
.gastos-block h3{
background-color: #e2e2e2;
padding: 2%;
font-size: 23px;

}
textarea{
margin-top: -1%;
}
.guardar-observaciones { 
width:25%; 
font-size:17px; 

}
}
@media (min-width: 1200px) {
.container {
grid-template-columns: 320px 1fr var(--aside-width);
}
}



/* Jugadores eliminados */
.planilla tbody tr.eliminado {
    background-color: #fc8e97 !important;  /* rojo suave */
    color: #000000 !important;             /* texto en rojo oscuro */
}

/* Evitar que la zebra afecte filas eliminadas */
.planilla tbody tr.eliminado:nth-child(odd),
.planilla tbody tr.eliminado:nth-child(even) {
    background-color: #f59ba3 !important;
}

/* Evitar hover sobre eliminados */
.planilla tbody tr.eliminado:hover {
    background-color: #ff747f !important;
    cursor: default;
}







