/* =====================================================
VARIABLES
===================================================== */
:root {
--aside-width: 100px;
--aside-narrow: 200px;
--topbar-bg: #042421;
--primary-blue: #1c6e9e;
--danger-red: #fa0505;
--pdf-red: #fa0526;
--success-green: #00f94fc5;
--border: #7c7c7cd2;
--light-gray: #f5f5f5;
 
}

/* =====================================================
BASE
===================================================== */
* { box-sizing: border-box; }
body{
font-family: "Lucida Sans Unicode", sans-serif;
padding: 0;
margin: 0;
overflow-x: hidden;
}

/* =====================================================
HEADER (MÓVIL: MOBILE-FIRST)
===================================================== */
.topbar {
display: grid;
grid-template-columns: 1fr;
grid-template-areas:
"year"
"month"
"logo"
"title"
"btn";
gap: 15px;
padding: 22px 15px 50px 15px;
margin: 0px 0px;
background: var(--topbar-bg);
border-bottom: 1px solid var(--border);
text-align: center;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
align-items: center;
}

.brand { 
grid-area: 
logo; 
display:flex;
justify-content:center;
justify-self: center;
align-items:center; 
gap:5px; 
margin-top:8%; 
}
.title {
grid-area: title; 
}
.toggle-left-panel { 
grid-area: btn; 
justify-self:center;

}

.logo { 
width: 40%; 
border-radius:
8px; object-fit: cover; 
}
.title h1 {
margin-top: 1%;
margin-bottom: -2%; 
font-size:26px; 
font-weight:lighter; 
color:white; 
text-shadow: -1px 1px 2px rgba(0,0,0,0.8), 
-1px 1px 1px rgba(0,0,0,0.6); 
}
.subtitle { 
  margin-top: 10px;
  margin-bottom: 10%;
font-size:20px;
color:#fffc4c;
text-shadow: -1px 1px 2px rgba(0,0,0,0.8), 
-1px 1px 1px rgba(0,0,0,0.6); 
}

.logout-button {
position:relative;
justify-self: flex-end !important;
bottom: 30% !important;
width: 38% !important;
right: -4% !important;
background: linear-gradient(180deg,
      rgba(90, 161, 114, 0.95),
      rgba(78, 141, 112, 0.829));
border: 1px solid rgb(0, 167, 111);
box-shadow:0 0 4px rgba(0, 218, 109, 0.842);
}
.logout-button:hover {
background: linear-gradient(180deg,
     rgba(124, 204, 151, 0.95),
      rgba(111, 192, 154, 0.829));
color: #fff783 !important;
text-shadow: -1px 1px 1px rgba(0,0,0,0.7), -1px 1px 1px rgba(0,0,0,0.7) !important;
box-shadow:0 0 5px #fff783 !important;
outline:1px solid rgba(255, 255, 255, 0.904); 

}
.toggle-left-panel {
justify-content: center;
position: relative;
justify-self: center;
background: linear-gradient(180deg,
      rgba(59, 190, 103, 0.95),
      rgba(32, 138, 88, 0.829));
border: 1px solid rgb(0, 167, 103);
box-shadow:0 0 2px rgba(0, 218, 109, 0.842);
}
.toggle-left-panel:hover {
background: linear-gradient(180deg,
      rgba(104, 199, 135, 0.95),
      rgba(69, 146, 110, 0.829));

box-shadow:0 0 5px rgba(0, 218, 109, 0.842);
outline:1px solid rgba(238, 237, 168, 0.623); 
}



.date-selectors { 
grid-area: month; 
display:inline-flex; 
justify-self:center;
align-items: center !important;
margin-top:-6%; 
gap:10px;  
}
.year {
grid-area: year; 

}
.month { 
grid-area: month;
}
.date-selectors label { 
color:white; 
font-weight:lighter; 
text-shadow: -1px 1px 1px rgba(0,0,0,0.7), -1px 1px 1px rgba(0,0,0,0.7);
 
}
.date-selectors select,.otro-juego-picker > select  {
padding:5px 23px !important; 
border:1px solid #4e7a66 !important; 
color: #000000;
border:1px solid #52cc89 !important;
background: linear-gradient(180deg,
rgba(242, 255, 245, 0.95),
rgba(153, 235, 194, 0.95)) !important;
box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
font-weight:bold !important; 
text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.973), -1px 1px 1px rgba(255, 255, 255, 0.966);
 
}
option{

background-color: #ace9d1;
color: rgb(0, 0, 0);


}
/* =====================================================
LAYOUT PRINCIPAL (mobile-first)
===================================================== */
.container {
position: relative;
display: grid;
grid-template-columns: 1fr;
gap: 15px;
padding: 15px;


}


/* paneles */
.left-panel, .middle-panel,.right-panel,.gastos-section {
margin-top: -1% !important;
margin-bottom: 0% !important;
background: transparent !important;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  margin-bottom: 1px !important;
  justify-self: center;
  border-radius: 18px;
  padding: 1px;
  box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
  transition: transform .15s ease, box-shadow .15s ease;
  border: none !important;
 
}

.add-aportante,form, .gastos-card,.totals-card, 
.gastos-registrados-card,.otros-aportes-card,.otros-partidos-info-card,.observaciones-container,
.notes-card{
  background: linear-gradient(380deg,
      rgba(202, 202, 202, 0.95), rgba(245, 245, 245, 0.95)
      );
      box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
      border: 1px solid rgba(214, 214, 214, 0.521);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding:15px;
  justify-self: center;
  border-radius: 18px;
  margin-bottom: 1px !important;
  transition: transform .15s ease, box-shadow .15s ease;
}

    /* <<<<<<< PROPIEDADES COMUNES EN BOTONES >>>>>>> */


    .logout-button,.toggle-left-panel,.save-player-btn,.add-otro-aporte-butt,
    .save-gasto,.guardar-observaciones,.guardar-observaciones,.export-pdf-butt{ 
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 80%;
      color: #ffffff;
      text-shadow: -1px 1px 1px #000,-1px 1px 1px rgba(0, 0, 0, 0.8);
      font-weight:bold; 
      font-size: medium;
      margin: 25px !important;
      align-self: center;
      border-radius: 18px;
      padding: 10px;
      transition: transform .15s ease, box-shadow .15s ease;
    }
   .logout-button,.toggle-left-panel,.save-player-btn,.add-otro-aporte-butt,
   .guardar-observaciones,.save-gasto,.export-pdf-butt:hover{
    padding:9; 
    }

/* AGREGAR APORTANTE CARD     */

/* .add-aportante{
background: linear-gradient(380deg,
      rgba(224, 228, 226, 0.911),
      rgba(190, 199, 194, 0.95));
      box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
      border: 1px solid rgba(214, 214, 214, 0.521);
    } */
.save-player-btn { 
background: linear-gradient(180deg,
rgba(17, 189, 60, 0.95),
rgba(2, 224, 157, 0.95)); 
color:rgba(255,255,255,0.888); 
box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
border: 1px solid rgba(0, 212, 124, 0.712);
}

.save-player-btn:hover { 
background: linear-gradient(180deg,
rgba(17, 189, 60, 0.95),
rgba(2, 224, 157, 0.95));  
outline:1px solid rgba(168, 238, 217, 0.623); 
box-shadow:0 0 20px rgba(114, 252, 155, 0.842); 
}

.add-aportante h4{
  margin-bottom: 18%;
}



/* AGREGAR OTROS APORTES CARD     */
.otros-aportes-card{margin-top: -1% !important; }
/* .otros-aportes-card{ 
background: linear-gradient(380deg,
      rgba(224, 228, 226, 0.911),
      rgba(190, 199, 194, 0.95));
box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
border: 1px solid rgba(201, 201, 201, 0.678);
margin-top: -3% !important;
margin-bottom: 1% !important;
} */

.add-otro-aporte-butt{ 
  background: linear-gradient(180deg,
  rgba(11, 166, 228, 0.95),
  rgba(88, 194, 226, 0.95));
  color:rgba(255,255,255,0.888); 
  text-shadow: -1px 1px 1px #000;
  box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
  border: 1px solid rgba(89, 173, 212, 0.712);

}
.add-otro-aporte-butt:hover { 
 background: linear-gradient(180deg,
  rgba(11, 166, 228, 0.95),
  rgba(88, 194, 226, 0.95));
outline:1px solid rgba(169, 231, 255, 0.815); 
border: 1px solid rgba(166, 228, 247, 0.884);
box-shadow:0 0 20px rgba(167, 223, 255, 0.842); 
}


/* AGREGAR GASTOS CARD */

/* .gastos-card{ 
border:1px solid #bbb;
background:linear-gradient(380deg,
      rgba(241, 241, 241, 0.95),
      #f8e1e1);
  box-shadow: 0 0 1px rgba(255, 202, 214, 0.918);
  border: 1px solid rgba(255, 217, 223, 0.815);
} */

.save-gasto{ 
background: linear-gradient(180deg,
rgba(255, 159, 159, 0.95),
#ff5353);
color:rgba(255,255,255,0.888); 
text-shadow: -1px 1px 1px #000;
box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
border: 1px solid rgba(212, 89, 120, 0.712);

}
.save-gasto:hover { 
 background: linear-gradient(180deg,
      rgba(255, 187, 187, 0.95),
      #fc5e5e);
outline:1px solid rgba(255, 169, 187, 0.815); 
border: 1px solid rgba(247, 166, 177, 0.884);
box-shadow:0 0 20px rgba(255, 167, 174, 0.842); 
}


/* MOSTRAR GASTOS CARD / EDITAR - ELIMINAR    */

/* .gastos-registrados-card{
background: 
linear-gradient(380deg,
      rgba(206, 205, 205, 0.95),
      #dddddd);
box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
border: 1px solid rgba(219, 194, 194, 0.712);

} */


.gastos-registrados-card h4{
  margin-bottom: 5% !important;
}
.gastos-registrados-card ul{
list-style:none;
padding-left:0;
}
.gastos-registrados-card-items {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center !important;
 



}
 
.totales-gastos-item-value{
  display: block;
  width: 30px;
color:#da000b;
gap: 1px;
font-weight:bold; 
font-size: 16px;
text-shadow: -1px 1px 1px rgb(0, 0, 0),-1px 1px 1px rgb(0, 0, 0);

}

/* BOTONES MOSTRAR GASTOS EDITAR - ELIMINAR  */

.buttons-gastos-container {
  display: flex;
  gap: 0px;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  gap: 7px;
  margin-bottom: 0%;
  
}

.btnEditGasto{
  margin-top: 0.5rem;
  bottom: 0rem;
  right: 0rem;
  width: 2.3rem;
  height: 2.3rem;
  font-size: 1.1rem;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.979);
  background: rgba(107, 213, 255, 0.973);
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: transform .12s ease, background .12s ease;
  z-index: 3;
}

.btnEditGasto:hover {
  background: rgba(0, 228, 228, 0.795);
  color: #ffffff;
  border: 1px solid rgba(0, 230, 238, 0.979);
  transform: scale(1.06);
}

.btnDeleteGasto {
  margin-top: 0.5rem;
  bottom: 0rem;
  right: 0rem;
  width: 2.3rem;
  height: 2.3rem;
  font-size: 1.1rem;
  border-radius: 999px;
  border: 1px solid rgba(255, 0, 55, 0.979);
  background: rgba(255, 226, 226, 0.973);
  color: #f50541;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: transform .12s ease, background .12s ease;
  z-index: 3;
}

.btnDeleteGasto:hover {
  background: rgba(228, 0, 38, 0.726);
  color: #ffcece;
  border: 1px solid rgba(255, 5, 5, 0.979);
  transform: scale(1.06);
}


/*  MOSTRAR TOTALES CARD     */


/* .totals-card{
background: linear-gradient(180deg,
      rgba(231, 231, 231, 0.95),
      rgba(183, 192, 201, 0.95));
box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
border: 1px solid   rgba(194, 198, 202, 0.95); 

} */

.totales-item-value{
color: #00c73c;
font-weight:bold; 
font-size: medium;
text-shadow: -1px 1px 1px rgb(0, 0, 0),-1px 1px 1px rgb(0, 0, 0);

}


.totals-card span, #listaGastos span, .otros-partidos-title{
font-style:italic; 
color: #000000;
font-weight:bold; 
text-shadow: -1px 1px 1px rgb(255, 255, 255);
list-style: none;

}

/*  MOSTRAR TOTALES CON SALDO MINI CARD     */


/* .totales-con-saldo-mini{
background: linear-gradient(180deg,
      rgba(231, 231, 231, 0.95),
      rgba(183, 192, 201, 0.95));
box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
border: 1px solid   rgba(194, 198, 202, 0.95); 

} */

.totales-con-saldo-mini{
  padding: 8px 10px;
  border-radius: 12px;
  background: rgba(0, 199, 60, 0.08);
  border: 1px solid rgba(0, 199, 60, 0.25);
  font-weight: bold;
  margin-bottom: 3%;
}
.totales-con-saldo-mini div{
  display:flex;
  justify-content: space-between;
  gap: 10px;
  padding: 4px 0;
  margin: auto;
}


/* SECCION DE OTROS PARTIDO INFO */


.otros-partidos-container-table{
overflow:auto;

}

.otros-partidos-title span,.otros-partidos-tfoot-table span{
padding: 2%;
color: #f1c500;
font-weight:bold; 
font-size: medium;
text-shadow: -1px 1px 1px rgb(0, 0, 0),
 -1px 1px 1px rgb(0, 0, 0), -1px 1px 1px rgb(0, 0, 0);
;
font-style:italic;

}
.otros-partidos-table{
  width:100%; 
  border-collapse:collapse; 
  font-size:13px;
  border-radius: 5px !important;
  margin-top: 2%;
 
}
.otros-partidos-tfoot-table p{
  padding: 2%;
color: #f1c500;
font-weight:bold; 
font-size: large;
text-shadow: -1px 1px 1px rgb(0, 0, 0),
 -1px 1px 1px rgb(0, 0, 0), -1px 1px 1px rgb(0, 0, 0);
}
.otros-partidos-tfoot-table span{
color: #00c73c;

}
.no-otros-partidos-alert{
opacity:.80; 
margin-top:6px;
color: #da000b;
font-weight: lighter;
font-size: medium;
text-shadow: -1px 1px 1px rgb(0, 0, 0),
 -1px 1px 1px rgb(0, 0, 0), -1px 1px 1px rgb(0, 0, 0);

}



/* OBSERVACIONES CARD */

/* .observaciones-container{
background: linear-gradient(180deg,
      rgba(183, 192, 201, 0.95),
       rgba(212, 212, 212, 0.95));
     
box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
border: 1px solid   rgba(202, 201, 194, 0.95); 

} */

.observaciones-container h3{
width: 100%;
padding: 2%;
color: #f1c500;
font-weight:bold; 
font-size: large;
text-shadow: -1px 1px 1px rgb(0, 0, 0),
 -1px 1px 1px rgb(0, 0, 0), -1px 1px 1px rgb(0, 0, 0);
;
font-style:italic;
justify-self: center;
text-align: center;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}
textarea{
width: 100%;
margin-top: -1%;
color: rgb(0, 0, 0);
font-weight:lighter !important; 
font-size: large;
text-shadow: -1px 1px 1px rgb(241, 241, 241),
-1px 1px 1px rgb(238, 238, 238),
-1px 1px 1px rgb(235, 235, 235);
border:10px;
min-height:180px;
padding:8px;
border:1px solid #ddd;

}

.guardar-observaciones { 
background: linear-gradient(180deg,
rgba(17, 189, 60, 0.95),
rgba(2, 224, 157, 0.95)); 
color:rgba(255,255,255,0.888); 
box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
border: 1px solid rgba(0, 212, 124, 0.712);
}
.guardar-observaciones:hover { 
background: linear-gradient(180deg,
rgba(17, 189, 60, 0.95),
rgba(2, 224, 157, 0.95));  
outline:1px solid rgba(168, 238, 217, 0.623); 
box-shadow:0 0 20px rgba(114, 252, 155, 0.842); 

}

/* EXPORTAR PDF CARD */

.notes-card{ 
background: linear-gradient(180deg,
      rgba(245, 245, 245, 0.95),
       rgba(202, 202, 202, 0.95)
     );
  box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
  border: 1px solid  rgba(164, 184, 206, 0.95); 
}
.notes-card h4{
  margin-bottom: 0% !important;
}
.export-pdf-butt{ 
  background: linear-gradient(180deg,
      rgba(252, 27, 27, 0.95),
      #ff1515); 
  box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
  border: 1px solid rgba(212, 89, 120, 0.712);
  margin-top: 2% !important;


}
.export-pdf-butt:hover{
 background: linear-gradient(180deg,
      rgba(255, 121, 121, 0.95),
      #fc2626);
outline:1px solid rgba(250, 33, 44, 0.815); 
border: 1px solid rgba(255, 61, 61, 0.884);
box-shadow:0 0 20px rgba(245, 76, 90, 0.842); 
}


/* ESTILOS TITULOS DE CARDS */

.add-aportante h4,.otros-aportes-card h4,.gastos-card h4,.gastos-registrados-card h4,.totals-card h4, 
.otros-partidos-info-card h4, .notes-card h4{
font-size:18px;
font-style:italic; 
color: #000000;
font-weight:bold; 
text-shadow: -1px 1px 1px rgb(255, 255, 255);
align-self: center;
margin-bottom: 10%;
}

/* ESTILOS LABELS DE CARDS */

.add-aportante label,.otros-aportes-card label, .gastos-card label{
font-weight:bold !important; 
font-style:italic !important;
color: #000000 !important;
text-shadow: -1px 1px 1px rgb(255, 255, 255) !important;

} 

/* ESTILOS  INPUTS DE CARDS */
.date-selectors select,.add-aportante input, .otros-aportes-card input,.gastos-card input,
.otros-aportes-card > select,.observaciones-container textarea,.otro-juego-picker > select  { 
display: flex;
flex-direction: column;
gap: 10px;
width: 100%;
justify-self: center;
width:100%;
padding:12px;
margin-bottom:5%;
margin-top: 0%;
border-radius:12px;
border:1px solid #bbb;
background: linear-gradient(180deg,
rgba(231, 231, 231, 0.95),
rgba(183, 192, 201, 0.95));
box-shadow: 0 0 2px rgba(245, 245, 245, 0.918);
transition: transform .15s ease, box-shadow .15s ease;
border: 1px solid rgba(199, 199, 199, 0.712);

}


/* panel izquierdo colapsado */
.container.panel-collapsed .left-panel {
width: 0;
opacity: 0;
pointer-events: none;
transition: all 1s ease;

}
.middle-panel { 
overflow-x: hidden;
transition: all 1s; 
}

.middle-panel:is(.expanded){
      background:#ebebebfb !important;
   border: 1px dotted rgba(143, 143, 143, 0.616);
}

  .middle-panel:not(.expanded) {
      display: none !important;
      height: 0 !important;
      max-height: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
  }


/* CLASE NUEVA: tabla expandida al presionar boton */
.middle-panel.expanded {
position: absolute;
display: block !important;
top: 0.3%;
width: 99% !important;
max-width: 99% !important;
align-self: center !important;
border-radius: 18px;
padding:1px;
margin: 5%;
min-height: fit-content;
height: 100dvh;
z-index: 999;
background: linear-gradient(180deg,
rgba(247, 247, 247, 0.973),
rgba(62, 88, 122, 0.89));
transform: translateY(0);
pointer-events: auto; /* habilita interacción */
box-shadow: 0 0 20px rgba(0, 121, 80, 0.918);
transition: transform .15s ease, box-shadow .15s ease;
border: 2px solid rgba(0, 85, 33, 0.753);

}

.table-wrap{
  display: block;
  overflow-x: auto !important;
  overflow-y: auto !important;
  max-width: fit-content;
  max-width: 98%;
  width: 98%;
  justify-self: center;
  border-radius: 18px;
  min-height: 100dvh;
  margin-top: 35% !important;
  height: 100dvh;
  table-layout: fixed; /* CLAVE */
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch; 

 

}



/* La tabla usa TODO el ancho disponible */
.table-wrap .planilla {
  position: relative;
  display: inline-table;
  max-height: calc(100vh - 240px);
  border-radius: 18px;
  overflow: auto;
  overflow: visible !important;
  min-width: 96%; 
  width: 96%;
  border-collapse: collapse; 
 min-height: fit-content;
}

/* ===============================
   TOOLBAR SOBRE LA TABLA (MÓVIL)
  ===============================  */

.tabla-toolbar {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 100;
padding: 10px 0px 30px 0px;

}


.month-header{ 
position: fixed;
justify-self: flex-start;
color: #f1c500;
font-weight:bold; 
font-size: large;
top: 2.5%;
left: 29%;
text-shadow: -1px 1px 1px black,
-1px 1px 1px black,
-1px 1px 1px black;
font-style:italic; white-space: nowrap;


}
/* ===============================
   BUSCADOR
   =============================== */

.buscador-jugadores {
  position:relative;
  display: flex;
  width: 92.5%;
  min-width: 91.5%;
  max-width: none;
  margin-left: 10px;
  margin-bottom: -5%;
  justify-self: flex-start;
  gap: 8px;
  padding: 6px 12px;
  background: linear-gradient(135deg, #00694f, #028f6b);
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  z-index: 90;

}

.buscador-jugadores input::placeholder {
  color: rgb(255, 255, 255); /* O un código hexadecimal como #FF0000 */
  font-size: large;
  font-weight: lighter;
  text-shadow:
-1px 1px 1px #000000;

  
}

/* icono */
.buscador-jugadores .icono-buscar {
  font-size: 18px;
  color: #ffffff;
  opacity: 0.9;
}

/* input */
.buscador-jugadores input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 4px;

}

/* botón limpiar */
.buscador-jugadores button {
  background: rgba(255, 106, 131, 0.712);
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  transition: background 0.80s ease, transform 0.90s ease;
}
  .buscador-jugadores button:hover {
  background: rgba(255,255,255,0.35);
  transform: scale(1.1);
}

.buscador-jugadores button:active {
  transform: scale(0.95);
}

/* enfoque */
.buscador-jugadores:focus-within {
  box-shadow: 0 0 0 2px rgba(0, 61, 43, 0.781),
              0 6px 12px rgba(20, 87, 61, 0.788);
}    
input[type="text"]:focus {
    color: #ffffff;
    border-radius: 18px;
font-weight:lighter; 
font-size: large;
text-shadow: -1px 1px 1px black,
-1px 1px 1px black,
-1px 1px 1px black;
font-style:italic;
    background-color: #00a77d; 
     width: 100%;
    border-color: #000000; 
    outline: none;
}


.otro-juego-picker{
position: fixed;
display:inline; 
top: 65px;
right: 15px;
gap:6px;
align-items:center;

}

.otro-juego-picker span { 
color:rgb(0, 180, 75); 
font-weight:lighter; 
text-shadow: -1px 1px 1px rgba(0,0,0,0.7), -1px 1px 1px rgba(8, 7, 7, 0.7);
margin-left: 13%;
 
}



/* ===============================
   STICKY HEADERS CORRECTOS
   =============================== */

/* Fila 1 del thead */
.planilla thead tr:nth-child(1) th {
   position: sticky;
  top: 0;                 /* 👈 ahora sí */
  z-index: 20;
padding: 6px;
background-color: #237a6b !important;
}

/* Fila 2 del thead */
.planilla thead tr:nth-child(2) th {
 position: sticky;
  top: 39px;              /* altura real fila 1 */
  z-index: 19;
  padding: 4px;
    background-color: #01926e !important;
  
}



/* Separar los titulos de los theads de los extremos de los bordes de la tabla */
.planilla thead tr:first-child th:first-child {
    padding: 5px 18px;
} 

/* Columna activa */
.planilla .col-activa {
  background: rgba(128, 253, 176, 0.658) !important;
  box-shadow: inset 2px 0 0 #007736, inset -2px 0 0 #beddd1;
}
.planilla thead th.col-activa {
  background: rgba(0, 119, 93, 0.897) !important;
    box-shadow: inset 2px 0 0 #276b46, inset -2px 0 0 #006941;
}

/* Columna especial (28) activa - diferente */
.planilla .col-activa.col-especial,
.planilla thead th.col-activa.col-especial {
  background: rgba(115, 105, 255, 0.18) !important; /* rosado suave */
  box-shadow: inset 2px 0 0 #a14fff, inset -2px 0 0 #9b4fff;
}


/* COLUMNA - ACCIONES */

.acciones{
 
  background-color: #d8d8d8;

}

.planilla td.telefono-cell {
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* BOTONES PLANILLA MOSTRAR GASTOS EDITAR - ELIMINAR  */

.acciones-buttons {
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-self: flex-end;
  gap: 5px;
  margin-bottom: 12%;
  align-items: center;
}

.btn-edit-player{
  margin-top: 0.5rem;
  bottom: 0rem;
  right: 0rem;
  width: 2.1rem;
  height: 2.1rem;
  font-size: 1.1rem;
  border-radius: 999px;
  border: 1px solid rgba(0, 104, 122, 0.979);
  background: rgba(107, 238, 255, 0.973);
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: transform .12s ease, background .12s ease;
  z-index: 3;
}

.btn-edit-player:hover {
  background: rgba(176, 236, 252, 0.897);
  color: #ffffff;
  border: 1px solid rgba(0, 146, 151, 0.979);
  transform: scale(1.06);
}

.btn-del-player {
  margin-top: 0.5rem;
  bottom: 0rem;
  right: 0rem;
  width: 2.3rem;
  height: 2.3rem;
  font-size: 1.1rem;
  border-radius: 999px;
  background: rgba(236, 6, 56, 0.89);
  color: #fddddd;
 border: 1px solid rgba(255, 155, 180, 0.979);
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: transform .12s ease, background .12s ease;
  z-index: 3;
}

.btn-del-player:hover {
  border: 1px solid rgba(255, 0, 55, 0.979);
  background: rgba(255, 226, 226, 0.973);
  color: #f50541;
 
  transform: scale(1.06);
}


.tooltip-aporte{
  position:absolute;
  background:#222;
  color:#fff;
  padding:6px 10px;
  border-radius:8px;
  font-size:13px;
  z-index:999999;
  white-space:nowrap;
  box-shadow:0 6px 18px rgba(0,0,0,.25);
}

/* Celda donde completó con saldo */
td.celda-dia.saldo-usado {
  outline: 1px dashed rgba(134, 134, 134, 0.6);
  outline-offset: -3px;
  border-radius: 6px;
  outline: none !important;
  box-shadow: none !important;
}

.aporte-wrapper {
    position: relative;
}


/* Estrella animada dentro del input */
.saldo-flag {
    position: absolute;
    top: 12px;
    left: 12%;
    transform: translateX(-50%);
    font-size: 15px;
    pointer-events: none;
    font-weight: bold;
    color: #ecc901;
    opacity: 0;
     /* estado oculto: abajo + transparente (para que al quitar show baje) */
  transform: translate(-50%, 8px) scale(.9);
  transition: opacity .25s ease, transform .25s ease;
}


/* Cuando la estrella debe mostrarse */
.saldo-flag.show {
   opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* ✨ Símbolo cuando completó con saldo */
.saldo-uso-flag{
  position:absolute;
  top: 12px;
  left: 12%;
  font-size: 14px;
  pointer-events:none;
  font-weight: bold;

  /* elige color distinto al dorado */
  color: #00c93c;

  opacity: 0;
  transform: translate(-50%, 8px) scale(.9);
  transition: opacity .25s ease, transform .25s ease;
}

.saldo-uso-flag.show{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


/* Espacio dentro del input para que no tape el número */
.aporte-wrapper input {
    padding-left: 15px !important;
}
/* Bolitas Deuda*/
/* * Contenedor de cada celda de aporte */ *
.celda-aporte {
    position: relative;
    padding: 0;
}

/* Ajuste visual del input */
.celda-aporte input {
    width: 65px;
    text-align: center;
    padding-right: 14px; /* espacio para iconos */
}

.chk-deuda-global.con-deuda {
    color: red;
    font-weight: bold;
}

.chk-deuda-global input:checked {
    accent-color: red;
    transform: scale(1.2);
}
.deuda-desde{
  font-size: 11px;
  margin-top: 4px;
  opacity: .9;
  animation: deudaPulse 1.6s ease-in-out infinite;
}

@keyframes deudaPulse{
  0%,100% { opacity: .45; }
  50%     { opacity: 1; }
}




thead tr:first-child,thead tr:nth-child(2){
background-color: #007749;
color: #ffffff;
font-weight:lighter; 
text-shadow: -1px 1px 1px rgb(0, 0, 0),
-1px 1px 1px rgb(0, 0, 0),
-1px 1px 1px rgb(0, 0, 0);
font-style:italic;
justify-self: center;
}
thead tr:nth-child(3),tfoot{
background-color: #13b370;
padding: 10%;
color: #ffffff;
font-weight:lighter; 
text-shadow: -1px 1px 1px rgb(0, 0, 0),
-1px 1px 1px rgb(0, 0, 0),
-1px 1px 1px rgb(0, 0, 0);
font-style:italic;
justify-self: center;

}
thead tr:first-child th{
padding: 10px;
font-size: large;

}
td{
border:1px solid #eee;
padding:4px;
text-align:center;
}



tbody tr{
padding: 10%;
color: #000000;
font-weight:bold; 
text-shadow: -1px 1px 1px rgb(255, 255, 255),
-1px 1px 1px rgb(255, 255, 255),
-1px 1px 1px rgb(248, 248, 248);
font-style:italic;
justify-self: center;
}
tbody tr td:first-child{
text-align: left;
padding: 1% 1%;

}
tbody tr td:last-child, tbody tr td:last-child{
text-align: center;
padding: 1% 1%;
font-weight:bolder; 
background-color: #99ccbb;

}
tbody tr td:nth-child(12){
width: 160px;
}

tbody tr td:nth-child(13){
text-align: center;
padding: 1% 1%;
font-weight:bold;
background-color: #c4ecdf;
width: 120px;


}


/* ============================
ZEBRA PARA TBODY (mobile-first)
============================ */
.planilla tbody tr:nth-child(odd) {
background-color: #ececec !important;  /* beige suave */
}
.planilla tbody tr:nth-child(odd):hover {
background-color: #c5e6db !important;  /* beige suave */
}


.planilla tbody tr:nth-child(even) {
background-color: #d3dad8 !important;  /* beige más oscuro */
}
.planilla tbody tr:nth-child(even):hover {
background-color: #b9b9b9 !important;  /* beige más oscuro */
}




/* evitar que afecte filas seleccionadas */

/* Jugadores eliminados */
.planilla tbody tr.eliminado {
    background-color: #ffb7bd !important;  /* rojo suave */
    color: #000000 !important;             /* texto en rojo oscuro */
}

/* Evitar que la zebra afecte filas eliminadas */
.planilla tbody tr.eliminado:nth-child(odd),
.planilla tbody tr.eliminado:nth-child(even) {
    background-color: #fca0a8 !important;
}

/* Evitar hover sobre eliminados */
.planilla tbody tr.eliminado:hover {
    background-color: #ff7e85f1 !important;
    cursor: default;
}



/* fila seleccionada tabla */
.planilla tbody tr.selected-row{
  background-color: #72e9bb88 !important;
  color: #000000 !important;
   text-shadow: -1px 1px 1px rgb(255, 255, 255) !important;
   font-weight: lighter !important;
   font-size: 13px;
  border-left: 4px solid var(--primary-blue);
}

.planilla tbody tr.selected-row:hover{
  background-color: #7cfdb2a1 !important;
}

.planilla tbody tr.eliminado.selected-row{
  background-color: #ff7e85f1 !important;
  color:#ffffff !important;
   text-shadow: -1px 1px 1px rgb(0, 0, 0) !important;
}

.cell-aporte{
width:60px;
padding:5px;
font-size:13px;
border-radius: 7px;
border: 1px solid rgb(199, 199, 199);
text-align: center;

}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;      /* estándar */
    -moz-appearance: textfield; /* Firefox */
}


.middle-panel,
.middle-panel.expanded {
  width: 100%;
  max-width: 100%;
  overflow: visible;
}
/* Hover */
/* #monthlyTableContainer table tr:hover { background-color: #f0f8ff; cursor: pointer; }
#monthlyTableContainer table tr.selected-row { background-color: #000000; }
#monthlyTableContainer table tr { transition: background-color 0.2s ease; } */


/* // ----------------->>> DESKTOP QUERIES <<<--------------------//
// --------------------------------------------------------------// */

/* Desktop layout */
@media (min-width: 1200px) {
.topbar {
grid-template-areas: "brand btn title selects"; 
grid-template-columns: auto auto 1fr auto;
align-items: center; 
gap: 20px; 
padding: 20px 30px;
height:18% !important;

  

}
.brand { 
  grid-area: brand; 
  justify-content:flex-start; 
}

.toggle-left-panel {
  justify-content: center;
  justify-self: center;
    margin: 0;
    bottom: auto;
    left: auto;
    width: auto;
    z-index: 10;  /* para asegurarnos que esté arriba */
  
}

.logo { 
    width: 80px; 
}
.title{
position: relative;
display:flex; 
flex-direction: column;
align-items: center !important;
top: 0%;
right: 10%;
width: 100%;

}
.title h1 { 
font-size: 32px;
margin-top: 0%;
margin-bottom: 0%; 

}
.subtitle { 
margin-top: 0px;
margin-bottom: 0%;
font-size:25px;
color:#fffc4c;
text-shadow: -1px 1px 2px rgba(0,0,0,0.8), 
-1px 1px 1px rgba(0,0,0,0.6); 
}


.logout-button {
position:  absolute;
display: flex;
align-self: flex-start !important;
justify-self: flex-end;
width: 10% !important;
top:0% !important;
right: 0% !important;
padding: 7px 5px;
z-index: 10;  /* para asegurarnos que esté arriba */
font-size:15px;

}
.logout-button:hover {
padding: 6px 4px;
color: #000;
text-shadow: -1px 1px 1px #ffffff,  -1px 1px 1px #ffffff;
}

.date-selectors { 
position: relative;
align-self:flex-end;
justify-self:flex-end;
grid-area: selects; 
top:25% !important; 
right: 18%;
padding:0px 0px !important; 
}

.date-selectors select {
padding:4px 23px !important; 
}

/* CONTENEDOR DE PANELES */
.container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
grid-template-rows: 3,50px;
  gap: 5px;
  margin:12px 5px;
  padding:  5px;
}

.add-aportante,form, .gastos-card,.totals-card, 
.otros-aportes-card,.observaciones-container,
.notes-card,.gastos-registrados-card{
  gap: 10px;
  width: 100%;
  padding:0px 20px;
margin: 0%;
/* height: fit-content; */

}

/* paneles */
.left-panel {
background: transparent !important;
grid-column: 1 / span 1;
grid-row: 1  /  span 1;
flex-direction: row;


}
.add-aportante,form{
grid-column: 1 / span 1;
grid-row: 1  /  span 1;
}
.otros-aportes-card{

 grid-column: 1 / span 1;
grid-row: 1  /  span 1; 
}
.gastos-section{
grid-column: 2 / span 1;
grid-row: 1  /  span 1;
flex-direction: row;
}
.gastos-card{
grid-column: 3 / span 1;
grid-row: 1  /  span 1;
}
.gastos-registrados-card{

 grid-column: 3 / span 1;
grid-row: 1  /  span 1; 
}


.right-panel{
grid-column: 1 / span 1;
grid-row: 2  /  span 1;

}
.totals-card{
grid-column: 1 / span 1;
grid-row: 2  /  span 1;
}
.otros-partidos-info-card{

 grid-column: 2 / span 1;
grid-row: 2  /  span 1; 
}


    /* <<<<<<< PROPIEDADES COMUNES EN BOTONES >>>>>>> */


 .save-player-btn,.add-otro-aporte-butt,
    .save-gasto{ 
      width: 65%;
      font-size: 15px;
      padding: 7px;
      
    }
 .guardar-observaciones,.export-pdf-butt{ 
       width: 42%;
      font-size: 15px;
        padding: 8px;
        margin: auto;
    }
 .notes-card h4{
  position: absolute;
margin-top: 12%!important;
 }
.export-pdf-butt{ 
top: 0 !important;
right: 0 !important;
bottom: 0 !important;
left: 0 !important;
margin: auto !important;
    }



.gastos-registrados-card ul{
list-style:none;
padding-left:0;
}
.gastos-registrados-card-items {
  display: flex;
  justify-content: space-around;
  font-size: 15px !important;
  gap: 5px;
  align-items: flex-start !important;
 



}
 
.totales-gastos-item-value{
  display: block;
  width: 30px;
color:#da000b;
gap: 1px;
font-weight:bold; 
font-size: 16px;
text-shadow: -1px 1px 1px rgb(0, 0, 0),-1px 1px 1px rgb(0, 0, 0);

}

/* BOTONES MOSTRAR GASTOS EDITAR - ELIMINAR  */

.buttons-gastos-container {
  align-items: flex-start;
  margin-left: 5%;
  margin-bottom: 0%; 
}

.btnEditGasto{
  width: 2.rem;
  height: 2.rem;
  font-size: 1.1rem;
}

.btnDeleteGasto {
  width: 2.rem;
  height: 2.rem;
  font-size: 1.1rem;
}

/* ===== MUY IMPORTANTE ===== */
/* La tabla NO debe tener overflow */
.planilla {
  overflow: visible !important;
}
  /* Estado normal (tabla oculta) */
  .middle-panel {
    display: none;
  }

  /* Estado visible */
  .middle-panel.expanded {          /* 🔥 CLAVE */
    width: 100%;
    max-width: 100%;
    margin-top: -1% !important;
    margin-bottom: 0% !important;
    padding: 0;
    margin: 0;
    overflow: hidden;            /* ok aquí */
    border-radius: 10px;
    justify-self: center;

  }
  .middle-panel:not(.expanded) {
      height: 100dvh;
      max-height: max-content;
  }





.table-wrap{
  min-height: 100dvh;
  margin-top: 8% !important;
  height: 100dvh;
  border-top-right-radius: 18px !important;
}

/* 3) Scrollbar delgado (Chrome/Edge/Safari) */
.table-wrap::-webkit-scrollbar{
  width: 8px;
}

.table-wrap::-webkit-scrollbar-track{
  background: rgba(0,0,0,0.08);
  border-radius: 10px;
}

.table-wrap::-webkit-scrollbar-thumb{
  background: rgba(36,90,75,0.65);   /* verde oscuro de tu paleta */
  border-radius: 10px;
  border: 2px solid rgba(0,0,0,0.08); /* “padding visual” */
}

.table-wrap::-webkit-scrollbar-thumb:hover{
  background: rgba(36,90,75,0.85);
}


.month-header{ 
justify-self: flex-start;
font-size: larger;
top: 4%;
left: 2%;
}
/* ===============================
   BUSCADOR
   =============================== */

.buscador-jugadores {
  width: 40%;
  min-width: 40%;
  margin-left:30% !important;
  margin-bottom: -1%;
  padding: 5px 12px;
  align-items: center;
}

.buscador-jugadores input::placeholder {
  font-size: medium; 
}


/* input */
.buscador-jugadores input {
  font-size: 16px !important;
}


.otro-juego-picker{ 
top: 25px;
right: 30px;
}

.otro-juego-picker span { 
color:rgb(0, 180, 75); 
font-weight:bold; 
text-shadow: -1px 1px 1px rgba(0,0,0,0.7), -1px 1px 1px rgba(8, 7, 7, 0.7);
margin-left: 8%;
margin-bottom: 4px;
font-size: large;
 
}

/* BOTONES PLANILLA MOSTRAR GASTOS EDITAR - ELIMINAR  */


.btn-edit-player{
 
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}

.btn-del-player {
 
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1rem;
 
}

/* ESTILOS TITULOS DE CARDS */



.add-aportante h4,.otros-aportes-card h4,.gastos-card h4,.gastos-registrados-card h4,.totals-card h4, 
.otros-partidos-info-card h4, .notes-card h4{
font-size:16px;
margin-bottom: 15%;
}

/* ESTILOS LABELS DE CARDS */

.add-aportante label,.otros-aportes-card label, .gastos-card label{
font-size:13px;

} 

/* ESTILOS  INPUTS DE CARDS */
.date-selectors select,.add-aportante input, .otros-aportes-card input,.gastos-card input,
.otros-aportes-card > select,.observaciones-container textarea,.otro-juego-picker > select  { 

gap: 10px;
width: 100%;
padding:8px;
margin-bottom:5%;
margin-top: 0%;
}


/* zebra desktop */
.planilla tbody tr:nth-child(odd) {
background-color: #f3efdb;
}

.planilla tbody tr:nth-child(even) {
background-color: #e5dfc3;
}

}











