/* ===========================
   BASE COMPATIBLE DOMPDF
=========================== */
body {
    font-family: DejaVu Sans, sans-serif;
    margin-top: 160px;   /* deja espacio entre encabezado y tabla */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 12pt;
}

.section-title {
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 12pt;
}

th, td {
    font-size: 10pt;
}

/* ===========================
   TABLAS
=========================== */

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    word-wrap: break-word;
    margin-bottom: 18px;
}

tr {
    page-break-inside: avoid;
}

th {
    background: #0a83b3;
    color: white;
    padding: 6px;
    border: 1px solid #444;
}

td {
    padding: 6px;
    border: 1px solid #444;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

.right {
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

.small {
    text-align: center;
}

/* Para evitar que las filas se partan */
tr, td, th {
    page-break-inside: avoid;
}

/* ===========================
   LOGO
=========================== */
.logo {
    width: 80px;
    max-width: 15%;
    height: auto;
}

/* ===========================
   PAGE BREAKS
=========================== */
.page-break {
    page-break-before: always;
}

.page-spacer {
    height: 40px;
}

/* ===========================
   BLOQUES DE OBSERVACIONES Y TOTALES
=========================== */
.observaciones {
    background-color: #c6d3e0;
    padding: 12px;
}

.observaciones-title {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 8px;
}

.obs {
    font-size: 12px;
}

.total-box {
    margin-top: 14px;
    background-color: #b4e7c7;
    padding: 12px;
}

/* fila de totales de día (verde) */
.total-dia {
    background: #9cf1bb;
    color: white;
    font-weight: lighter;
}

/* para marcar filas "apagadas" si algún día lo necesitas */
tr[style*="color:#999;"] {
    background-color: #f5f5f5;
}

/* ===========================
   ESCALA AUTOMÁTICA 
   SI HAY MUCHOS JUGADORES
=========================== */

table {
    font-size: 12px;
}

td, th {
    padding: 3px;
}

/* muchos jugadores */
body.many-rows table {
    font-size: 10px;
    transform: scale(0.92);
    transform-origin: top left;
}

body.many-rows td,
body.many-rows th {
    padding: 2px;
}

/* demasiados jugadores */
body.too-many-rows table {
    font-size: 9px;
    transform: scale(0.85);
    transform-origin: top left;
}

/* acercar la tabla al encabezado sin que lo tape */
section, table {
    margin-top: 10px !important;
    padding-top: 0 !important;
}

body.many-rows table,
body.too-many-rows table {
    margin-top: 5px !important;
}

section {
    margin-top: 0 !important;
}
